block variables

doctype html
html
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400" rel="stylesheet") 
        link(rel='stylesheet' href='css/main.css')
        script(src='js/main.js')
        script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtyFiCYBw8LuX8TPrb4KPyQMAjd_ylE7k&callback=initMap")
    body
        block content
        