
@function rem($px) {
  @return $px / 16px+0rem;
}

// @import "normalize";


@import 'common/media';


@import 'common/mixins';
@import 'layout/adjustment';
@import 'layout/fonts';


@font-face {
font-family: 'GraphikLCG';
src: url("GraphikLCG-Regular-otf.css") format("otf"), url("GraphikLCG-Regular_rubl-ttf.css") format("ttf"), url("GraphikLCG-Regular_rubl-woff.css") format("woff"); }

@font-face {
font-family: 'GraphikLCG-Medium';
src: url("GraphikLCG-Medium-otf.css") format("otf"), url("GraphikLCG-Medium_rubl-ttf.css") format("ttf"), url("GraphikLCG-Medium_rubl-woff.css") format("woff"); }

@font-face {
font-family: 'GraphikLCG-Black';
src: url("GraphikLCG-Black-otf.css") format("otf"), url("GraphikLCG-Black_rubl-ttf.css") format("ttf"), url("GraphikLCG-Black_rubl-woff.css") format("woff"); }




html,
body {
  height: 100%; }
// !!! for full screen width
.container.static-page-wrapper {
            margin: 0;
    width: 100%;
    padding: 0;
          }

#static-page-content {
  font-size: 14px;
  height: 100%;
  width: 100%;
  h1{
    font-family: 'GraphikLCG-Black', sans-serif;
    font-size: 32px;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
  }
  h2,h3 {
    height: 58px;
    font-family: 'GraphikLCG-Black', sans-serif;
    font-size: 24px;
    text-align: left;
    color: #000000;
  }
  p {
    font-family: 'GraphikLCG';
    font-size: 15px;
    text-align: left;
    color: #000000;
  }




ul {
display: block;
padding: 0;
margin: 0; }

li {
display: block;
list-style: none; }

* {
box-sizing: border-box; }
  
  }
