
@function rem($px) {
  @return $px / 16px+0rem;
}

// @import "normalize";


@import 'common/media';


@import 'common/mixins';
@import 'layout/adjustment';
@import 'layout/fonts';


@font-face {
font-family: 'GraphikLCG';
src: url("GraphikLCG-Regular-otf.css") format("otf"), url("GraphikLCG-Regular_rubl-ttf.css") format("ttf"), url("GraphikLCG-Regular_rubl-woff.css") format("woff"); }

@font-face {
font-family: 'GraphikLCG-Medium';
src: url("GraphikLCG-Medium-otf.css") format("otf"), url("GraphikLCG-Medium_rubl-ttf.css") format("ttf"), url("GraphikLCG-Medium_rubl-woff.css") format("woff"); }

@font-face {
font-family: 'GraphikLCG-Black';
src: url("GraphikLCG-Black-otf.css") format("otf"), url("GraphikLCG-Black_rubl-ttf.css") format("ttf"), url("GraphikLCG-Black_rubl-woff.css") format("woff"); }




html,
body {
  height: 100%;
margin: 0;}
// !!! for full screen width
.container.static-page-wrapper {
            margin: 0;
    width: 100%;
    padding: 0;
          }

#static-page-content {
  height: 100%;
  width: 100%;
 

ul {
display: block;
padding: 0;
margin: 0; }

li {
display: block;
list-style: none; }

* {
box-sizing: border-box; }
  
  }
